<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Greener Mosque</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/homeStyle.css" />
</head>
<body>
  <div class="container">
    <h1>TOWARDS A<br>SMARTER,<br>GREENER MOSQUE</h1>
    <p>An integrated monitoring system to ensure comfort, energy efficiency, and safety for all worshippers.</p>
    <div class="button-group">
        <a href="/dashboard">Go to monitoring page</a>
        <a href="/admin/dashboard">saya orang dalem</a>
    </div>
    <div class="footer">golongan apakah anda?</div>
  </div>
</body>
</html>